.idea
.classpath
.project
.settings
.factorypath
target
EclipseProjects
bin
.DS_Store
*.iml
*.bak
*.swp
*.zip
.Rproj.user
.metadata/
.vagrant
.recommenders
derby.log
.springBeans
**/node_modules/
target/
test-output/
**/*.log
EclipseProjects/
dependency-reduced-pom.xml
${modeshape.index.dir}

